.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &.is-disabled .action {
    opacity: .2;
  }
}

.action {
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  user-select: none;
  width: 150px;

  &.stand {
    background-color: #ff9445;
  }

  &.hit {
    background-color: #7fe46e;
  }
}

.action + .action {
  margin-left: 20px;
}
