* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: linear-gradient(to right, #093028, #237a57);
  font-family: 'Roboto Condensed', sans-serif;
}
