.card {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
  height: 200px;
  padding: 10px;
  position: relative;
  user-select: none;
  width: 150px;
}

.card-rank {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  width: 40px;
}

.card-rank:before {
  content: '';
  display: block;
}

.card:after {
  content: '';
  font-size: 100px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card.suit-S:after,
.suit-S .card-rank:before {
  content: '♤';
}
.card.suit-H:after,
.suit-H .card-rank:before {
  content: '♡';
}
.card.suit-D:after,
.suit-D .card-rank:before {
  content: '♢';
}
.card.suit-C:after,
.suit-C .card-rank:before {
  content: '♧';
}

.card.rank-Q:after,
.card.rank-K:after,
.card.rank-J:after {
  content: '';
}

.rank-Q.suit-S {
  background-image: url('../assets/QS.gif');
}
.rank-Q.suit-H {
  background-image: url('../assets/QH.gif');
}
.rank-Q.suit-D {
  background-image: url('../assets/QD.gif');
}
.rank-Q.suit-C {
  background-image: url('../assets/QC.gif');
}

.rank-K.suit-S {
  background-image: url('../assets/KS.gif');
}
.rank-K.suit-H {
  background-image: url('../assets/KH.gif');
}
.rank-K.suit-D {
  background-image: url('../assets/KD.gif');
}
.rank-K.suit-C {
  background-image: url('../assets/KC.gif');
}

.rank-J.suit-S {
  background-image: url('../assets/JS.gif');
}
.rank-J.suit-H {
  background-image: url('../assets/JH.gif');
}
.rank-J.suit-D {
  background-image: url('../assets/JD.gif');
}
.rank-J.suit-C {
  background-image: url('../assets/JC.gif');
}

.suit-D,
.suit-H {
  color: #ff3f3f;
}

.suit-S,
.suit-C {
  color: #2f2f2f;
}
