.hand {
  overflow: auto;
  position: relative;

  .card {
    float: left;
  }

  .card + .card {
    margin-left: -80px;
  }
}

.hand-value {
  color: white;
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
