.messages {
  border: solid 20px rgba(0, 0, 0, 0);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: .6;
  overflow: hidden;
  position: fixed;
  transition: opacity 100ms linear;
  width: 500px;
}

.messages:hover {
  opacity: 1;
}

.message-time {
  color: #d2d2d2;
  margin-right: 10px;
}

.message-content {
  color: white;
}

.message[data-level="1"] .message-content {
  font-weight: bold;
}
