.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  &[data-status="0"] .player-status {
  }

  &[data-status="1"] .player-status {
    color: #ff9445;
  }

  &[data-status="2"] .player-status {
    color: #d2d2d2;
  }

  &[data-status="3"] .player-status {
    color: #ff3f3f;
  }

  &[data-status="4"] .player-status {
    color: #7fe46e;
  }

  &[data-status="3"] {

    .hand {
      opacity: .5;
    }
  }
}

.player-name {
  color: #d2d2d2;
}

.player-infos {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.player-status {
  text-transform: uppercase;
}

.player-chips {
  color: #5bff5b;
}
