.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.other-players {
  align-items: center;
  display: flex;
  justify-content: center;

  .player + .player {
    margin-left: 30px;
  }

  .card {
    height: 100px;
    padding: 8px;
    width: 75px;

    &:after {
      content: ''
    }

    background-image: none;
  }

  .player-infos {
    font-size: 15px;
  }

  .card + .card {
    margin-left: -10px;
  }
}
